<ion-header>
    <ion-navbar color="primary">
        <ion-title text-center>
            Sign Up
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Are you a Institution?</ion-label>
            <ion-toggle checked="false" [(ngModel)]="usuario.Tipo"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label floating>Name</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.Nome"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="email" [(ngModel)]="usuario.Email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating *ngIf="!usuario.Tipo">CPF</ion-label>
            <ion-label floating *ngIf="usuario.Tipo">CNPJ</ion-label>
            <ion-input type="text" [(ngModel)]="usuario.CpfCnpj"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="usuario.Senha"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Confirm</ion-label>
            <ion-input type="password" [(ngModel)]="senhaConfirmacao" [style.color]="usuario.Senha == senhaConfirmacao ? 'secondary' : danger"></ion-input>
        </ion-item>
    </ion-list>
    <ion-row>
        <ion-col>
            <button ion-button icon-left full>
                <ion-icon name="images"></ion-icon>
                Picture
            </button>
        </ion-col>        
    </ion-row>
    <ion-row>
        <ion-col>
            <button ion-button full color="danger" (click)="dismiss()">
                Cancel
            </button>
        </ion-col>
        <ion-col>
            <button ion-button full color="secondary" (click)="createUser(usuario)">
                Create
            </button>
        </ion-col>
    </ion-row>
</ion-content>