<style>
    .img-slide {
        width: 310px;
        height: 310px;
    }
</style>

<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ doacao.Animal.Nome }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-slides no-padding lazyLoading style="height: auto">
        <ion-slide *ngFor="let img of doacao.Animal.Fotos">
            <img class="img-slide" src="{{'http://localhost:49664/api/fotos/' + img}}" alt="">
        </ion-slide>
    </ion-slides>
    <ion-list>
        <ion-item>
            <b>Specie:</b> {{ doacao.Animal.Especie }}
        </ion-item>
        <ion-item>
            <b>Age:</b> {{ doacao.Animal.DataNascimento | age }} years
        </ion-item>
        <ion-item>
            <b>Weight:</b> {{ doacao.Animal.Peso }}kg
        </ion-item>
        <ion-item>
            <b>About:</b> {{ doacao.Animal.Descricao }}
        </ion-item>
    </ion-list>
</ion-content>

<ion-fab right bottom *ngIf="doacao.Usuario.Id !== usuario.Id">
    <button ion-fab color="danger" (click)="openReasonAlert()" *ngIf="candidatura != null">
        <ion-icon name="heart"></ion-icon>
    </button>
    <button ion-fab color="danger" (click)="openCancelCandidatureAlert(candidatura)" *ngIf="candidatura == null">
        <ion-icon name="trash"></ion-icon>
    </button>
</ion-fab>

<ion-fab right bottom *ngIf="doacao.Usuario.Id === usuario.Id">
    <button ion-fab color="primary">
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-fab-list side="top">
        <button ion-fab color="secondary" (click)="openCandidateSelectModal()">
            <ion-icon name="people"></ion-icon>
        </button>
    </ion-fab-list>
    <ion-fab-list side="left">
        <button ion-fab color="danger" (click)="openDonationRemoveAlert()">
            <ion-icon name="trash"></ion-icon>
        </button>
    </ion-fab-list>
</ion-fab>